/* font-family: "AA-BebasNeue"; */
@font-face {
	font-family: "BebasNeueBook";
	src: url("../fonts/bebas/BebasNeue Book.otf");
	src: url("../fonts/bebas/BebasNeue Book.otf?#iefix")format("embedded-opentype"),
	url("../fonts/bebas/BebasNeue Book.woff") format("woff"),
	url("../fonts/bebas/BebasNeue Book.svg") format('svg'),
	url("../fonts/bebas/BebasNeue Book.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "PTSansNarrow"; */
@font-face {
	font-family: "PTSansNarrow";
	src: url("../fonts/PTSansNarrowRegular/PTSansNarrow.otf");
	src: url("../fonts/")format("embedded-opentype"),
	url("../fonts/PTSansNarrowRegular/PTSansNarrow.woff?#iefix") format("woff"),
	url("../fonts/PTSansNarrowRegular/PTSansNarrow.svg") format('svg'),
	url("../fonts/PTSansNarrowRegular/PTSansNarrow.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
